<!DOCTYPE html>
<html lang="en">
<head>
    <title>Appointment Page</title>
    <script type="text/javascript" language="javascript" src="jquery-1.8.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<script>
    var wdata = <%-data.WeelyLog%>;
    var ddata = <%-data.DailyLog%>;
    var app = angular.module('myApp', []);
    app.controller('userCtrl', function($scope) {
        $scope.weekData = wdata;
        $scope.dailyData = ddata;
        $scope.username = wdata[0].username;
    });
</script>

<style>
    .navbar {
        margin-bottom: 0;
        background-color: #006600;
        z-index: 9999;
        border: 0;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 4px;
        border-radius: 0;
        font-family: Montserrat, sans-serif;
    }
    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
        color: #006600 !important;
        background-color: #fff !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff !important;
    }
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #303030;
        font-weight: 600;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 19px;
        line-height: 1.375em;
        color: #303030;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .jumbotron {
        background-color: #006600;
        color: #fff;
        padding: 25px 25px;
        font-family: Montserrat, sans-serif;
    }
</style>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/login">BINGE WebApp</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/add/user">Create a Patient</a></li>
                <li><a href="/appointment">Appointments</a></li>
                <li><a href="#">Notes</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>User Details</h1>
    <p>Daily and Weekly Progress</p>
</div>

<div class="container">
    <h2 class="text-center">User Progress</h2>

    <div class="table-responsive" ng-app="myApp" ng-controller="userCtrl">
        <h4>Weekly Log</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Week</th>
                <th>Binges</th>
                <th>V/L/D</th>
                <th>Good Days</th>
                <th>Weight</th>
                <th>F/V</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in weekData">
                <td>{{ x.Week }}</td>
                <td>{{ x.Binges }}</a>
                <td>{{ x.V/L/D }}</td>
                <td>{{ x.GoodDays }}</td>
                <td>{{ x.Weight }}</td>
                <td>{{ x.F/V }}</td>
            </tr>
            </tbody>
        </table>

        <h4>Daily Log</h4>
        <table class="table table-striped">
            <thead>
            <font size = "8">
            <tr>
                <th>Food and Drinks Consumed</th>
                <th>No. of Serving of Veg</th>
                <th>V/L</th>
                <th>Feelings</th>
                <th>Time</th>
            </tr>
            </font>
            </thead>
            <tbody class="text-sm-center">
            <tr ng-repeat="x in dailyData">
                <td>{{ x.FoodAndDrinksConsumed }}</td>
                <td>{{ x.NumberOfServingsOfVegetables }}</td>
                <td>{{ x.AnyVomitingOrLaxativeUse }}</td>
                <td>{{ x.Feelings }}</td>
                <td>{{ x.Time }}</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="/appointment?username={{ username }}" type="button" class="btn btn-primary">Schedule Appointment</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

</div>


</body>
</html>

